button {
    cursor: pointer;
    padding: 10px;
    width: 15%;
    border: 0px solid black;
    border-radius: 20px;
    color: white;
    background-color: #0352BD;
    font-size: 10px;
    font-family: 'nunito', sans-serif;
    margin: 10px;
    margin-left: 40%;
}

button:hover {
    background-color: #190793;
}

.leave-form {
    display: block;
    width: 330px;
    margin: auto;
}

.leave-form label {
    font-family: 'josefin sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

.leave-form input {
    width: 50%;
}

input {
    height: 30px;
    padding: 3px;
    font-size: 14px;
    color: #1C1D21;
    border-radius: 10px;
    display: block;
    margin-left: 50px;
    width: 40%;
    margin-top: 20px;
}